.navbar-toggler {
  border: 0px;
}

.pointer {
  cursor: pointer;
}

.no-click {
  pointer-events:none;
  opacity: 0.65;
}

.upvote:hover {
 color: var(--info);
}

.upvote {
  margin-bottom: -5px;
}

.downvote:hover {
  color: var(--danger);
}

.downvote {
  margin-top: -10px;
}

.md-div p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.md-div p:last-child {
  margin-bottom: 0px;
}

.md-div img {
  max-height: 90vh;
  max-width: 100%;
  height: auto;
}

.md-div h1,
.md-div h2,
.md-div h3,
.md-div h4,
.md-div h5 {
  font-size:1.171875rem;
}

.md-div table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid var(--dark);
}

.md-div table th,
.md-div table td {
  padding: 0.3rem;
  vertical-align: top;
  border-top: 1px solid var(--dark);
  border: 1px solid var(--dark);
}

.md-div table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid var(--dark);
}

.md-div table tbody + tbody {
  border-top: 2px solid var(--dark);
}

.comment-node {
  margin-bottom: 10px;
}

.vote-bar {
  margin-top: -6.5px;
}

.post-title {
  line-height: 1.0;
}

.icon {
  display: inline-flex;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  vertical-align: middle;
  align-self: center;
}


.spin {
  animation: spins 2s linear infinite;
}

@keyframes spins {
  0% { transform: rotate(0deg); }
  100% {  transform: rotate(359deg); }
}

.dropdown-menu {
  z-index: 2000;
}

blockquote {
  border-left: 3px solid #ccc;
  margin: 0.5em 5px;
  padding: 0.1em 5px;
}

.mouse-icon {
  margin-top: -4px;
}

.new-comments {
  max-height: 50vh;
  overflow: hidden;
}

.new-comments:hover {
  overflow-y: auto;
}

.thumbnail {
  max-height: 62px;
  max-width: 400px;
}

.no-s-hows {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

hr {
  border-top: 1px solid var(--secondary);
}

.emoji {
  height: 1.2em !important;
}

.text-wrap-truncate {
  overflow: hidden;
  text-overflow: ellipsis
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.fl-1 {
  flex: 1;
}

.img-blur {
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
}

.img-expanded {
  max-height: 90vh;
}

.vote-animate:active {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
}

.selectr-selected, .selectr-options-container {
  background-color: var(--secondary);
  color: var(--white);
  border: unset;
}

.link-overlay {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px;
  background: rgba(0,0,0,.4);
  border-bottom-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}
